<header id="navegation">
  <nav>
    <ul>
      <li>
        <div class="avatar">
          <img src="../assets/images/default_avatar.png" alt="" />
        </div>
        <a href="/admin/profile">Profile</a>
      </li>
      <li><a href="/attendance">Student Attendance</a></li>
      <li><a href="/admin/bonafied-request">Bonafied Request</a></li>
      <li><a href="/api/logout"> Logout</a></li>
    </ul>
  </nav>
</header>
