<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bonafide-${{user.name}}</title>
  </head>
  <body>
      Mr./Ms. {{user.name}} S/o Mr./Ms. {{user.fatherName}} is a bonafide student of our institute<br />
      studying in {{user.currentyear}} Year {{user.course}} Department.<br />
      <br />
      Date: {{user.date}}<br />
      <br />
      <br />
      <br />
      Principal signature: __________________<br />
      <br />
      <br />
      College Stamp

  </body>
</html>