<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Login Page</title>
    <style>
      body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(201, 152, 227, 0.705);
      }
    </style>
  </head>
  <body>
    <form id="login" method="post" action="/api/login">
      <h1>Login</h1>
      <%if(message!=""){%>
      <div class="message">
        <p class="error"><%=message%></p>
      </div>
      <%}%>
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" required />
      </div>
      <div class="login-btn">
        <button type="submit" class="login">Login</button>
      </div>
    </form>
  </body>
  <script>
    const messageVal = document.querySelector(".message");
    if (messageVal) {
      console.log("ok");
      setTimeout(() => {
        document.querySelector(".message").style.display = "none";
      },20 * 1000);
    }
  </script>
</html>
