* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

/* Login Form */
form#login {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 0px 10px;
  width: 400px;
}
form#login .error {
  font-size: 15px;
  color: red;
  transition: all 0.5s ease-in-out;
}
form#login h1 {
  text-align: center;
  padding: 10px 0;
  font-size: 45px;
}
form#login div {
  font-size: 22px;
  padding: 5px 15px;
}
form#login div label {
  text-align: left;
}
form#login div input {
  display: flex;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.507);
  font-size: 15px;
  width: 100%;
  padding: 7px 5px;
  border-radius: 5px;
  transition: 0.2s ease-out;
  &:focus {
    box-shadow: 0 0 3px 1px rgb(89, 154, 224);
    border: 1px solid rgb(33, 140, 255);
  }
}

form#login .login-btn {
  text-align: right;
  & > .login {
    padding: 8px 18px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 255, 0.707);
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 4px 1px rgba(55, 128, 255, 0.481);
      transform: scale(1.1);
    }
  }
}

/* nav bar */
header#navegation {
  padding: 10px 0;
  background-color: orange;
  border-radius: 0 0 10px 10px;
}

header#navegation nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  opacity: 0.5;
  transition: all 0.5s ease-out;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
header#navegation nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header#navegation nav ul li .avatar img {
  width: 30px;
  border-radius: 100%;
  margin-right: 5px;
}

/* user-Bonafied Page */
.container#bonafied .get-bonafied {
  margin: 10px 15px 0;
  position: relative;
  text-align: end;
}
.container#bonafied .get-bonafied .status {
  position: absolute;
  padding: 5px 12px;
  font-size: 19px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  left: 0;
  &.pending{
    background-color: #ffebcc;
    color: #653c0c;
  }
  &.reject{
    background-color: #f86454ac;
    color: #f83030de;
  }
}
.container#bonafied .get-bonafied button {
  background-color: rgb(79, 220, 79);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.596);
  transition: all 0.5s ease-out;
  border: none;
  &:hover {
    background-color: rgb(99, 254, 99);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;
    &::before {
      content: "+";
      color: rgb(255, 255, 255);
      margin-right: 3px;
      font-weight: bolder;
    }
  }
}
.container#bonafied .all-bonafides {
  margin-top: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.333);
}
.container#bonafied table {
  text-align: center;
  width: 75%;
  margin: 15px auto;
  border-collapse: collapse;
}
.container#bonafied table thead {
  font-size: 20px;
}
.container#bonafied table tbody tr {
  &:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.241);
  }
}
.container#bonafied table tbody tr td {
  padding: 13px 0;
}

.container#bonafied table tbody tr a {
  padding: 5px 8px;
  border-radius: 5px;
  margin: 0 3px;
  color: white;
  font-weight: bolder;
  opacity: 0.5;
  transition: all 0.2s ease-out;
  &.download {
    background-color: rgb(26, 26, 214);
  }
  &.Approve {
    background-color: rgb(0, 255, 0);
  }
  &.delete {
    background-color: rgb(255, 0, 0);
  }
  &:hover {
    opacity: 1;
  }
}

/* Pofile page */
.wrapper#profile {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 90vh;
}
.wrapper#profile .container {
  padding: 12px 25px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.166);
}
.wrapper#profile .container .fields {
  display: flex;
  font-size: 25px;
  margin: 10px 5px 0;
}
.wrapper#profile .container .fields label {
  width: 300px;
}
.wrapper#profile .container .fields input {
  font-size: 26px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 6px;
  width: 100%;
}
